html, body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.primary-col {
    color: #7a00e5
}

.primary-bg {
    background-color: #7a00e5 ;
}

hr {
    background: #000;
}
.home-icon {
    width: 50px;
    margin: 20px;
    position: fixed;
    z-index: 1000;
    left: 30px;
}

.sanofi-logo {
    width: 160px;
}
.hm-pg {
    background-image: linear-gradient(#2f1e61, #8b73d0, #2f1e61);
    color: #fff;
    width: 100%;
}

.line-1 {
    height: 1px;
    background: #fff;
    width: 214px;
    place-self: center;
    margin-bottom: 16px;
}

.volume {
    position: absolute;
    right: -159px;
    transform: rotate(90deg);
    top: 284px;
    font-weight: 100;
}
.bg-pg1-img img {
    width: 100%;
}

.footer-txt, .pagination p {
    font-size: 18px;
}

.ribbon {
    width: 100%;
}
.ribbon h2 {
    background: #670fbf;
    padding: 5px 0 5px 80px;
    width: 85%;
}
.reference {
    padding: 5px 0 5px 80px;
    font-size: 0.9rem;
}
.p-99 {
    padding-right: 100px;
}
.card {
    background-color: transparent;
    color: #fff;
    font-weight: 500;
    border: none;
    padding: 0 10px;
}
.card-img {
    overflow: hidden;
}

.p-100 {
    padding-top: 100px;
}
.cover-header {
    width: 80%;
    padding: 76px 10px;
    position: absolute;
    top: -10px;
    left: 10%;
}
.carousel-control-next, .carousel-control-prev {
    top: 600px;
    bottom: unset;
    color: #4a228c;
    width: 30px;
    /* position: fixed; */
}

.nav-btns {
    width: 930px;
    position: fixed;
    z-index: 1000;
}
/* table of content */
.hba {
    margin-bottom: 150px;
}
.page-no {
    color: #7901e3;
    position: absolute;
    right: -60px;

}

.bg-col-none .bg-color {
    height: unset;
}
.dotted-circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
    transform: rotate(45deg);
    background-size: contain;
}

.dotted-circle-1 {
    background: url('../img/article-05.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro #48228a;

}
.dotted-circle-6 {
    background: url('../img/article-06.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}
.dotted-circle-7 {
    background: url('../img/article-07.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro gainsboro;

}
.dotted-circle-8 {
    background: url('../img/article-08.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}
.dotted-circle-9 {
    background: url('../img/article-09.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro gainsboro;

}
.dotted-circle-10 {
    background: url('../img/article-10.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}
.dotted-circle-11 {
    background: url('../img/article-11.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro gainsboro;

}
.dotted-circle-12 {
    background: url('../img/article-12.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}

.dotted-circle-13 {
    background: url('../img/article-13.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}
.dotted-circle-14 {
    background: url('../img/article-14.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro gainsboro;

}
.dotted-circle-15 {
    background: url('../img/article-15.png') no-repeat center;
    background-size: contain;
    border-style: solid solid solid dashed;
    border-color: gainsboro gainsboro #48228a #48228a;

}
.dotted-circle-16 {
    background: url('../img/article-16.png') no-repeat center;
    background-size: contain;
    border-style: dashed solid solid solid;
    border-color: #48228a #48228a gainsboro gainsboro;

}

.align-cntr {
    align-content: center;
    text-align: -webkit-center; 
}

.

.left-decor .row .col-5 {
	margin-left: 10px;
}

.grey-line {
    height: 2px;
    background: grey;
    position: relative;
    place-self: center;
    width:100%;
}

.table-of-content-row a {
    text-decoration: none;
}

.table-of-content-row h3 {
    position: relative;
    font-size: 24px;
    color: #fff;
    width: 400px;
}
.li-article {
    position: relative;
}
.table-of-content-row p {
    font-size: 18px;
    position: absolute;
    top: 60px;
}

.grey-circle {
    border-radius: 50%;
    background-color: grey;
    height: 17px;
    width: 17px;
    position: absolute;
    right: 0;
    bottom: -7px;
}

/* hompage */
.homepage-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.hm-pg footer{
    width: 100%;
    margin: auto;
    color: #fff;
    padding-bottom: 10px;
    
}

.hm-pg-tail{
    position: absolute;
    bottom:0;
}

.hm-pg .right {
    right: 0;
}


.pg-1-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}
/* pages header */
.header-txt {
    font-size: 19px;
    color: #fff;

}

.header-txt-black {
    color: #000;
}

/* arrows  */

.left, .right {
    position: absolute;
    top: 600px;
    width: 30px;
    cursor: pointer;
}

.left {
    left: -40px;
}

.right {
    right: -40px;
}

/* page1  */
.main {
    position: relative;
    height: auto;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 992px;
}
.left-img {
    position: relative;
    margin-bottom: 100px;
    width: 33%;
}

.left-img img {
border-radius: 50%;
}

.card .card-img, .card p {
    cursor: pointer;
}

.circle-1, .circle-2, .circle-0 {
    position: absolute;
    background-color: #7a00e3;
    border-radius: 50%;
}
.circle-2 {
    height: 40%;
    width: 40%;
    right: -25px;
    top: 35%;
}
.circle-1 {
    opacity: 0.5;
    bottom: 6px;
    height: 33%;
    width: 33%;
}
.circle-0 {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    top: 10%;
    right: -50px;
}

.circle-2 h1 {
    margin-left: 30px;
    margin-top: 25px;
    font-weight: 900;
    font-size: 4rem;
}

.intro-header {
    padding: 30px 0 50px 0;
}

.intro-header h2 {
    font-weight: 700;
    font-size: 38px;
}

.para {
    font-size: 20px;
    padding-bottom: 100px;
}

.body {
    position: relative;
}

.clickable {
    background-image: linear-gradient(to bottom left, #3d2b75, #7901e3);
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 9px 20px;
    color: #fff;
    position: absolute;
    right: 20px;
    text-decoration: none;
    font-size: 29px;
    bottom: -30px;
}

.clickable:hover {
    color: #f5e9ff;
    text-decoration: none;    
}


.sponsors {
    background-color: #fff;
    padding: 79px 0;
}

.intro, .body {
    color: #fff;
}

.intro {
    position: relative;
    padding: 20px;

}

img{
    max-width: 100%;
}


.main-div {
    margin: auto;
    position: relative;
}

.main-div a {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 49%;
    right: 26px;
    font-size: 32px;
    color: #fff;
}

.light-line{
    height:1px;
    background: #fff;
}

.dark-line{
    height:1px;
    background: #000;
}



.bg-color {
    background-image: linear-gradient(to bottom left, #3d2b75, #7901e3);
    position: relative;
    overflow: hidden;
    height: 1580px;
    max-width: 992px;
    margin: auto;
}


/* page 3 */

.hba1c {
    padding-bottom: 50px;
    font-size: 13px;
}
.circle-3 {

    background-image: linear-gradient(to bottom right, #3d2b75, #7901e3);
    height: 150px;
    width: 150px;
    border-radius: 45%;
}
.circle-4 {
    height: 50px;
    width: 50px;
    position: absolute;
    background: #7901e3;
    border-radius: 45%;
    top: -39px;
    left: -33px;

}
.table-header {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}
.circle-3 h1 {
    position: absolute;
    font-weight: 900;
    top: 45px;
    left: 10px;
    font-size: 50px;
}

.intro-white {
    color: #fff;
}

.intro-cont {
    color: #7901e3;
}

.line-blue {
    height: 1px;
    background: #2b398f;
    float: right;
    width: 57%;
    margin-top: -25px;
    margin-left: -47px;
}

.table-header-subtext {
    width:80%;
    float: right;
}

.table-header-subtext h2 {
    color: #2b398f;
    font-size: 29px;
    margin-top: -45px;
    float: right;
    margin-right: -25px;
}

.box li {
    list-style: none;
    padding: 15px 0 39px 0;
    height: 180px;
    max-width: 90%;
    margin: auto;
}
.box ul {
    padding-top: 69px;
    padding-left:15px;
}

.li-header{
    background-image: linear-gradient(to bottom right, #3d2b75, #7901e3);
    border-radius: 40px;
    padding-right: 80px;
    padding: 10px 10px 10px 15px;
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
}

.li-header:hover {
    background-image: linear-gradient(to bottom right, #2e2058, #5f01b1);

}

.li-header a h3 {
    color: #fff;
    font-size: 23px;
}
.li-header a:hover {
    text-decoration: none;
    color: #f2e2ff;

}
.pg-no {
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    color: #7901e3;
    margin-left: 15px;
}

.table-content {
    padding: 100px 40px;
}

.just-cent {
    margin-bottom: 8px;
}

.left-dark a, .right-dark a {
    color: #3d2b75;
}


/* Articles */

.article-head {
    margin-top: 25px;
}
.article-head h1 .bold, .category {
    font-weight: 900;
}

article p {
    font-size: 18px;
}

.feature-img {
    margin-bottom: 15px;
}

.purple-quote {
    position: relative;
    color: #fff;
    padding: 35px 20px;
    border-radius: 0 0 40px 40px;
    margin-top: 50px;

}

.purple-quote h3 {
    margin-bottom: 20px;
}

.quotes {
    width: 29%;
    position: absolute;
    right: 20px;
    top: -31px;
}

.ref-rating p {
    font-size: 14px;
    width: 80%;
}
.rating {
    padding-bottom: 50px;
}


.h3-inner {
    color: #3d2b75;   
    font-size: 23px;
}


.bg-end {
    background-image: radial-gradient(#7404da, #3d2b75);
}

.center-img {
    width: 50%;
    margin: auto;
    padding-top: 400px;
    padding-bottom: 400px;
}

.logo {
    float: right;
    width: 20%;
    padding: 15px;
    margin-right: 28px;
}

.end-footer {
    color: #fff;
    font-size: 20px;
    padding: 40px;
}

.bg-end .left{
    left:20px;
}



/* Responsive  */

 @media (max-width: 1199.98px) { 
    .bg-color {
        height: 1550px;
    }
    .home-icon {
        left: 30px;
    }
    /* .nav-btns {
        width:unset;
        position:unset
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    } */
  }
   /* // Medium devices (tablets, less than 992px) */

 @media only screen and (max-width: 991.98px) {
    .nav-btns {
        width:unset;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .bg-color {
        height: 1140px;
    }
    .reference {
        padding: 5px 0 5px 80px;
        font-size: 10px;
    }
    .ribbon h2 {
        font-size: 19px;
    }
    .card {
        font-size:13px;
    }
    .quotes {
        width: 17%;
    }

    .clickable {

        margin-top: -30px;
        font-size: 20px;
    }

    .footer-txt, .pagination p {
        font-size: 17px;
    }

    .home-icon {
        width: 38px;
        margin: 20px;
        left: 20px;
    }
    .header-txt-black {
        padding-left: 0;
        padding-right: 0;
    }
    .header-txt {
        font-size: 13px;
    }
    .sanofi-logo {
        width: 130px;
    }
    .left-img {
        padding-left: 0;
        padding-bottom: 0;
        width: 33%;
        margin-bottom: 0;
    }

    .circle-2 h1 {
        margin-top: 12px;
        font-size: 3rem;
    }
    .para {
        font-size: 20px;
    }
    .circle-1 {
        bottom: 0;
        height: 25%;
        width: 25%;
    }
    .circle-2 {
        height: 40%;
        width: 40%;
        top: 35%;
        right: -19px;
    }
    .footer-txt {
        font-size: 14px;
    }
    .pagination p {
        margin-bottom: 0;
    }

    .table-header-subtext h2 {
        color: #2b398f;
        font-size: 23px;
        float: right;
        margin-top: -41px;
            }
    .line-blue {
        height: 1px;
        background: #2b398f;
        float: left;
        width: 44%;
        margin-top: -25px;
        margin-left: 0;
    }
    .circle-3 {
        
        height: 130px;
        width: 130px;
    }

    .circle-3 h1 {
        font-size:38px;
    }

    .li-header {
        margin-right: 10px;
        padding-right: 45px;
        font-size: 16px;
    }
    .table-of-content-row h3 {
        font-size: 15px;
        width: 290px;
    }
    .table-of-content-row p {
        font-size: 14px;
        position: absolute;
        top: 46px;
    }

    .page-no {
        right: -35px;
    }

    .dotted-circle {
        height: 120px;
        width: 120px;
    }
    .rating {
        margin-bottom: 50px;
    }

    .purple-quote {
        margin-bottom: 50px;
    }
    .carousel-control-next, .carousel-control-prev {
        top: 400px;
        width: 20px;
        
    }
 }

  /* // Small devices (landscape phones, less than 768px) */
  @media only screen and (max-width: 767.98px) { 
    .nav-btns {
        width:unset;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .bg-color {
        height: 1235px;
    }

    .dotted-circle {
        height: 100px;
        width: 100px;
       
    }
    .circle-2 h1 {
        font-size: 2.3rem;
        margin-top: 8px;
    }
    .table-content {
        padding: 100px 10px;
    }
    .li-header {
        font-size: 11px;
    }
    .footer-txt, .pagination p {
        font-size: 14px;
    }

    .left-img {
        width: 36%;
    }

    .home-icon, .home-icon-white {
        width: 35px;
    }
    .header-txt {
        font-size: 10px;
        padding-right: 0; 
    }
    .col-6 .light-line {
        padding: 0;
    }

    .intro-header h2 {
        font-size: 30px;
    }
    .carousel-control-next, .carousel-control-prev {
        top: 600px;
        width: 20px;
    }
    .para {
        font-size: 17px;
        padding-bottom: 100px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .line-blue {
        margin-left: 40px;
    }
   
    .table-header-subtext h2 {
        font-size: 19px;
        float: right;
        margin-top: -22px;
    }
    .table-of-content-row p {
        font-size: 11px;
        top: 30px;
    }
    .circle-3 {
        height: 120px;
        width: 120px;
    }
    .circle-3 h1 {
        top: 39px;
        font-size: 38px;
    }
    .table-of-content-row h3 {
        font-size: 13px;
        width: 228px;
    }

    .page-no {
        right: -30px;
    }
    .li-header {
        padding: 6px 10px 6px 15px;
        
    }
    
    .li-long {
        padding-top: 10px; 
        padding-bottom: 10px;
    }
    .subheader {
        font-size: 11px;
    } 
    .headline {
        font-size: 25px;
    }
    article p {
        font-size: 15px;
    }

    .purple-quote {
        margin-bottom: 30px;
    }
    .ref-rating p {
        font-size: 12px;
    }
    .rating {
        margin-bottom: 50px;
    }
    .center-img {
        width: 70%;
        margin: auto;
        padding-top: 335px;
        padding-bottom: 350px;
    }
    .end-footer {
        color: #fff;
        font-size: 12px;
        position: unset;
        bottom: 20px;
        left: 30px;
        padding: 30px;
    }
    .sanofi-logo {
        width: 70px;
    }

    .clickable {
        font-size: 17px;
        margin-top: -20px;
    }

    }

/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    .nav-btns {
        width:unset;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .hba1c {
        padding-bottom: 50px;
        font-size: 11px;
    }
    
    
    .grey-circle {
        height: 10px;
        width: 10px;
        right: -5px;
        bottom: -4px;
    }
    .bg-color {
        height: 1130px;
    }


    .cover-header {
        padding: 40px 10px;
        
    }


    .carousel-control-next, .carousel-control-prev {
        top: 350px;
        width: 20px;
    }

    .hba {
        margin-bottom: 150px;
        font-size: 13px;
    }
    .p-100 {
        padding-top: 70px;
    }
    .dotted-circle {
        width: 70px;
        height: 70px;
    }
    .hm-pg footer, .footer {
        padding: 0 5px 10px 10px;
        }
    .footer-txt {
        padding-left: 0;
        text-align: center;
    }
    .ribbon h2 {
        padding: 5px 0px 5px 15px;
        width: 93%;
    }

    .reference {
        padding: 5px 0 5px 15px;
        font-size: 0.7rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .subheader {
        font-size: 11px;
    }
    article p {
        font-size: 15px;
    }

    .left, .right {
        top: 47%;
        width: 20px;
        z-index: 100;
    }
    .footer-txt, .pagination p {
        font-size: 12px;
    }

    .right {
        right: 5px;
    }
    .left{
        left: 5px;
    }

    footer {
        font-size: 10px;
    }
    .pagination p {
        font-size: 13px;
    }

    .header-txt {
        font-size: 11px;
    }
    .intro-header h2 {
        font-size: 1.2rem;
    }

    .sanofi-logo {
        width: 80px;
    }

    .para {
        font-size:15px;
    }

    .circle-2 h1 {
        margin-left: 19px;
        margin-top: 11px;
        font-size: 1.5rem;
    }

    .circle-3 {
        width: 90px;
        height: 90px;
    }

    .circle-3 h1 {
        top: 27px;
        font-size: 1.6rem;
        left: 9px;
    }
    .table-header {
        margin-top: 50px;
        margin-left: 10px;
    }
    .circle-4 {
        height: 30px;
        width: 30px;
        position: absolute;
        background: #7901e3;
        border-radius: 45%;
        top: -24px;
        left: -15px;
    }

    .li-header {
        padding: 7px 5px 7px 5px;
        margin-right: 5px;
        font-size: 9px;
    }
    .table-of-content-row p {
        font-size: 8px;
        top: 29px;
        width: 117%;
    }
    .page-no {
        color: #7901e3;
        position: absolute;
        right: -17px;
    }
    
        .table-of-content-row h3 {
            font-size: 9px;
    width: 150px;
        }
    
    .li-header a h3 {
        font-size: 15px;
    }
    .line-blue {
        margin-left: 21px;
        width: 70%;
    }

        .table-header-subtext h2 {
            font-size: 18px;
            margin-top: -20px;
        }
        .table-content {
            padding: 57px 15px;
        }

        .box ul {
            padding-top: 25px;
            padding-left:0;
        }
        .pg-no {
            font-size: 15px;
            margin-left: 5px;
        }
        .li-p {
            font-size: 10px;
        }
        .box li {
            list-style: none;
            padding: 7px 0 39px 0;
            height: 88px;
            max-width: 90%;
            margin: auto;
        }

        .just-cent {
            margin-bottom: 3px;
        }

        article .left {
            left: 0;
        }
        article .right {
            right: 0;
        }
    
        article, .article-head {
            padding: 15px;
        }

        .purple-quote {
            margin-bottom: 35px;
        }
        .ref-rating p {
            font-size: 12px;
        }

        .logo {
            margin-right: 0;
            width: 35%;
        }
        .center-img {
    padding-top: 78%;
    padding-bottom: 85%;
        }
        .clickable {
            bottom: -20px;
            font-size: 15px;
        }
        

        .home-icon, .home-icon-white {
            width: 25px;
            left: 0;
        }
 }

 @media only screen and (max-width: 412px) {
    .nav-btns {
        width:unset;
    }
    .carousel-control-next, .carousel-control-prev {
        position: fixed;
    }
    .bg-color {
        height: 1045px;
    }

 }
 /* @media only screen and (max-width: 376px) {

 } */