html, body {
    overflow-x: hidden;
}

.primary-col {
    color: #7a00e5
}

.primary-bg {
    background-color: #7a00e5 ;
}

hr {
    background: #000;
}
/* hompage */
.homepage-bg {
    /* background-image: url('./img/magazine-edit-13-3-1'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.pg-1-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}
/* pages header */
.pages-header-footer {
padding: 20px 0;

}


.header-txt {
    font-size: 20px;
    color: #fff;

}

.header-txt-black {
    color: #000;
}

/* arrows  */

.left, .right {
    position: absolute;
    top: 600px;
    width: 30px;
    cursor: pointer;
}

.left {
    left: -40px;
}

.right {
    right: -40px;
}

/* page1  */
.main {
    position: relative;
    max-width: 992px;
    height: auto;
    margin: auto;
}
.left-img {
    position: relative;
}

.left-img img {
border-radius: 50%;
}

.circle-1, .circle-2, .circle-0 {
    position: absolute;
    background-color: #7a00e3;
    border-radius: 50%;
}
.circle-2 {
    height: 40%;
    width: 40%;
    right: -25px;
    top: 35%;
}
.circle-1 {
    opacity: 0.5;
    bottom: 6px;
    height: 33%;
    width: 33%;
}
.circle-0 {
    height: 100px;
    width: 100px;
    opacity: 0.5;
    top: 10%;
    right: -50px;
}

.circle-2 h1 {
    margin-left: 30px;
    margin-top: 8px;
    font-weight: 900;
}

.intro-header {
    padding: 30px 0 50px 0;
}

.intro-header h2 {
    font-weight: 700;
    font-size: 38px;
}

.para {
    font-size: 17px;
    padding-bottom: 100px;
}

.body {
    position: relative;
}

.clickable {
    background-image: linear-gradient(to bottom left, #3d2b75, #7901e3);
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 9px 20px;
    color: #fff;
    position: absolute;
    right: 20px;
    text-decoration: none;
}

.clickable:hover {
    color: #f5e9ff;
    text-decoration: none;    
}


.sponsors {
    background-color: #fff;
    padding: 79px 0;
}

.body, .intro {
    color: #fff;
    padding: 20px;
}

.intro {
    position: relative;
}

img{
    max-width: 100%;
}


.main-div {
    margin: auto;
    position: relative;
}

.main-div a {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 49%;
    right: 26px;
    font-size: 32px;
    color: #fff;
}

.light-line{
    height:1px;
    background: #fff;
}

.dark-line{
    height:1px;
    background: #000;
}



.bg-color {
    background-image: linear-gradient(to bottom left, #3d2b75, #7901e3);
    position: relative;
    overflow: hidden;

}


/* page 3 */


.circle-3 {

    background-image: linear-gradient(to bottom right, #3d2b75, #7901e3);
    height: 150px;
    width: 150px;
    border-radius: 45%;
}
.circle-4 {
    height: 50px;
    width: 50px;
    position: absolute;
    background: #7901e3;
    border-radius: 45%;
    top: -39px;
    left: -33px;

}
.table-header {
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}
.circle-3 h1 {
    position: absolute;
    font-weight: 900;
    top: 45px;
    left: 10px;
    font-size: 50px;
}

.intro-white {
    color: #fff;
}

.intro-cont {
    color: #7901e3;
    /* background: linear-gradient(to bottom, #3d2b75, #7901e3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
}

.line-blue {
    height: 1px;
    background: #2b398f;
    float: right;
    width: 85%;
    margin-top: -25px;
    margin-left: -47px;
}

.table-header-subtext {
    width:80%;
    float: right;
}

.table-header-subtext h2 {
    color: #2b398f;
    font-size: 29px;
    margin-top: -45px;
}

.box li {
    list-style: none;
    padding: 15px 0 39px 0;
    height: 180px;
    max-width: 90%;
    margin: auto;
}
.box ul {
    padding-top: 69px;
    padding-left:15px;
}

.li-header{
    background-image: linear-gradient(to bottom right, #3d2b75, #7901e3);
    border-radius: 40px;
    padding-right: 80px;
    padding: 5px 5px 5px 15px;
    min-width: 350px;

}

.li-header:hover {
    background-image: linear-gradient(to bottom right, #2e2058, #5f01b1);

}

.li-header a h3 {
    color: #fff;
    font-size: 23px;
}
.li-header a:hover {
    text-decoration: none;
    color: #f2e2ff;

}
.pg-no {
    align-self: center;
    font-size: 24px;
    font-weight: 700;
    color: #7901e3;
    margin-left: 15px;
}

.table-content {
    padding: 100px 40px;
}

.just-cent {
    margin-bottom: 8px;
}

.left-dark a, .right-dark a {
    color: #3d2b75;
}


/* Articles */

.article-head {
    margin-top: 25px;
}
.article-head h1 {
    font-weight: 900;
}

article p {
    font-size: 18px;
}

.feature-img {
    margin-bottom: 15px;
}

.purple-quote {
    position: relative;
    color: #fff;
    padding: 35px 20px;
    border-radius: 0 0 40px 40px;
    margin-top: 50px;

}

.purple-quote h3 {
    margin-bottom: 20px;
}

.quotes {
    width: 29%;
    position: absolute;
    right: 20px;
    top: -31px;
}

.ref-rating p {
    font-size: 14px;
    width: 80%;
}

.article-footer {
    margin-top: -120px;
}
